<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.controles">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Controles">
        <activity android:name=".But"></activity>
        <activity android:name=".CheckB"></activity>
        <activity android:name=".EditT"></activity>
        <activity android:name=".ImageBut"></activity>
        <activity android:name=".ProgressB"></activity>
        <activity android:name=".RadioB"></activity>
        <activity android:name=".RatingB"></activity>
        <activity android:name=".SeekB"></activity>
        <activity android:name=".Spin"></activity>
        <activity android:name=".Swit"></activity>
        <activity android:name=".TextV"></activity>
        <activity android:name=".ToggleBut"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>